h1 {
  color: blueviolet;
  background-color: cadetblue;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
}
p {
  color: crimson;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}
/*das ist ein Kommentar*/
a {
  background-color: darkgreen;
  color: #000;
  text-decoration: none;
}
.border {
  border: 3px solid blue;
}

#wichtig {
  background-color: red;
  color: #fff;
}
